# Post-Analysis Concussion

- This Cleans and transforms the Concussion data from the Punt datasets

--- 
# Dependencies

In [1]:
import pandas as pd
import numpy as np
# from PostAnalysisCleaningFunctions import column_capitalizer, surface_normalizer, surface_coder, position_coder, score_manager, game_adjuster, fake_id_maker, stadium_coder
import matplotlib.pyplot as plt
from PostAnalysisCleaningFunctions import clean_punt
random_state=42

import sqlalchemy as db
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
import psycopg2

## Retrieve the Data from the Database

Prior to this SQL call, 4 of the files were previously merged in SQL: 
- play_player_role
- play_info
- game_data
- player_punt_data

In [2]:
# Make connection to the database
from config import db_password
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5433/NFL_Punt"
engine = db.create_engine(db_string)
conn = engine.connect()
metadata = db.MetaData()

del db_password

# Read in the injuries table:
table = db.Table('punt_analytics', metadata,
                 autoload=True, autoload_with=engine)
query = db.select(table)
Results = conn.execute(query).fetchall()

# Create the new dataframe and set the keys
punt = pd.DataFrame(Results)
punt.columns = Results[0].keys()
conn.close()
del Results, metadata, conn, engine, query, table, db_string

punt.head()

,gamekey,playid,gsisid,prole,season_type,quarter,score_home_visiting,stadiumtype,turf,week,gameweather,temperature,p_position
0,414,188,33704,PDL2,Reg,1,0 - 0,Outdoor,Grass,1,Mostly Cloudy,73.0,OLB
1,414,188,33704,PDL2,Reg,1,0 - 0,Outdoor,Grass,1,Mostly Cloudy,73.0,OLB
2,414,1107,33704,PDL2,Reg,2,7 - 7,Outdoor,Grass,1,Mostly Cloudy,73.0,OLB
3,414,1107,33704,PDL2,Reg,2,7 - 7,Outdoor,Grass,1,Mostly Cloudy,73.0,OLB
4,424,1113,33704,PDR3,Reg,2,3 - 3,None,Grass,2,Cloudy,71.0,OLB

In [3]:
vis_concussion = punt
vis_concussion = clean_punt(vis_concussion, 'vis')
# df.reset_index(drop=True, inplace=True)
vis_concussion.head()

,Quarter,StadiumType,Week,Position,FieldType,HomeScore,Score_Difference,GamePlay,GamePlay_ID
0,1,Outdoor,6,OLB,Natural,0,0,414-188,414-188-33704
1,2,Outdoor,6,OLB,Natural,7,0,414-1107,414-1107-33704
2,2,Outdoor,7,OLB,Natural,3,0,424-1113,424-1113-33704
3,2,Outdoor,7,OLB,Natural,10,7,424-1454,424-1454-33704
4,1,Outdoor,7,OLB,Natural,0,-3,424-644,424-644-33704

In [4]:
ml_concussion = punt
ml_concussion = clean_punt(ml_concussion, 'ml')
ml_concussion.head()

,Quarter,Week,Position,SyntheticField,Outdoor,HomeScore,Score_Difference,GamePlay,GamePlay_ID
0,1,6,20,0.0,1.0,0,0,414-188,414-188-33704
1,2,6,20,0.0,1.0,7,0,414-1107,414-1107-33704
2,2,7,20,0.0,1.0,3,0,424-1113,424-1113-33704
3,2,7,20,0.0,1.0,10,7,424-1454,424-1454-33704
4,1,7,20,0.0,1.0,0,-3,424-644,424-644-33704

In [5]:
ml_concussion.GamePlay_ID.nunique()

146519

In [6]:
# Make connection to the database
from config import db_password
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5433/NFL_Injuries"
engine = db.create_engine(db_string)

del db_string, db_password
# Write table to database
vis_concussion.to_sql(name='vis_concussions', con=engine, index=False)
ml_concussion.to_sql(name='ml_concussions', con=engine, index=False)

At this point, I need to rethink how to get data for a model - sampling the NGS is only removing movement data from the individual plays, which is problematic. 
- This will be much better to do in SQL
- Pull out data by position?

# Sample and Import the NGS Data