# Connect the Tables to the SQL Server using SQL Alchemy

Requirements:  You must have a config.py file with df_password set to your PostgreSQL password
1. Extract data FROM existing databases
2. Export data TO the a postgres database
3. SQL Code to create the tables for the tables we're using with the names and proper datatypes that correlate with this code

In [2]:
import pandas as pd
import sqlalchemy as db
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
import psycopg2
from config import db_password

## Make a Connection to Postgres and access the NFL_Turf database

This db string is in the format to connect to the Postgres server 'postgres' on port 5433, connecting to the NFL_Turf database

In [6]:
# Make connection to the database
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5433/NFL_Turf"
engine = db.create_engine(db_string)
conn = engine.connect()
metadata = db.MetaData()

## Read in the tables for the injury processing

Note: When the tables are read in using sqlalchemy, all of caps in the headings are . This will impact the functions already defined based on capitalization of the headings - new files will be defined adapting to the database imported data. 

### InjuryRecords

In [7]:
# Read in the specific table - this can be done on the same connection: 
injuries_sql = db.Table('injuries', metadata, autoload=True, autoload_with=engine)
query = db.select(injuries_sql)
Results = conn.execute(query).fetchall()

# Create the new dataframe and set the keys 
injuries = pd.DataFrame(Results)
injuries.columns = Results[0].keys()

injuries.head()

,playerkey,gameid,playkey,bodypart,fieldtype,dm_m1,dm_m7,dm_m28,dm_m42
0,39873,39873-4,39873-4-32,Knee,Synthetic,1,1,1,1
1,46074,46074-7,46074-7-26,Knee,Natural,1,1,0,0
2,36557,36557-1,36557-1-70,Ankle,Synthetic,1,1,1,1
3,46646,46646-3,46646-3-30,Ankle,Natural,1,0,0,0
4,43532,43532-5,43532-5-69,Ankle,Synthetic,1,1,1,1

### PlayList

In [8]:
# Read in the specific table - this can be done on the same connection:
playlist_sql = db.Table('playlist', metadata, autoload=True, autoload_with=engine)
query = db.select(playlist_sql)
Results = conn.execute(query).fetchall()

# Create the new dataframe and set the keys
playlist = pd.DataFrame(Results)
playlist.columns = Results[0].keys()

playlist.head()

,playerkey,gameid,playkey,rosterposition,playerday,playergame,stadiumtype,fieldtype,temperature,weather,playtype,playergameplay,position,postiongroup
0,26624,26624-1,26624-1-1,Quarterback,1,1,Outdoor,Synthetic,63,Clear and warm,Pass,1,QB,QB
1,26624,26624-1,26624-1-2,Quarterback,1,1,Outdoor,Synthetic,63,Clear and warm,Pass,2,QB,QB
2,26624,26624-1,26624-1-3,Quarterback,1,1,Outdoor,Synthetic,63,Clear and warm,Rush,3,QB,QB
3,26624,26624-1,26624-1-4,Quarterback,1,1,Outdoor,Synthetic,63,Clear and warm,Rush,4,QB,QB
4,26624,26624-1,26624-1-5,Quarterback,1,1,Outdoor,Synthetic,63,Clear and warm,Pass,5,QB,QB

### Tracking

While this technicall CAN connect to the tracking database, in its current state it contains 76 million rows and requires too much memory to open locally. This table would be better to extract from the original source or open locally prior to sampling.

In [9]:
# # Read in the specific table - this can be done on the same connection:
# tracking_sql = db.Table('tracking', metadata, autoload=True, autoload_with=engine)
# query = db.select(tracking_sql)
# Results = conn.execute(query).fetchall()

# # Create the new dataframe and set the keys
# tracking = pd.DataFrame(Results)
# tracking.columns = Results[0].keys()

# tracking.head()

# Connecting to the Punt/Concussion Database

This does have a different db_string, so the connection must be reset

In [4]:
# Make connection to the database
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5433/NFL_Punt"
engine = db.create_engine(db_string)
conn = engine.connect()
metadata = db.MetaData()

- In the Case of the Punt/Concussion Database, we will be merging the play_information, play_player_role, player_punt_data, and game_data tables prior to import, so these data will all be acquired in one call for those files that require only that table
- The other individual table imports are below
- The NGS data are stored in the database, but are too big to be extracted without pulling from a local connection, as this table has 60 million rows prior to sampling

### Merged

In [ ]:
# Read in the specific table - this can be done on the same connection:
merged_sql = db.Table('playlist', metadata,
                        autoload=True, autoload_with=engine)
query = db.select(merged_sql)
Results = conn.execute(query).fetchall()

# Create the new dataframe and set the keys
merged = pd.DataFrame(Results)
merged.columns = Results[0].keys()

merged.head()

### Game_Data

In [5]:
# Read in the specific table - this can be done on the same connection:
game_data_sql = db.Table('game_data', metadata,
                        autoload=True, autoload_with=engine)
query = db.select(game_data_sql)
Results = conn.execute(query).fetchall()

# Create the new dataframe and set the keys
game_data = pd.DataFrame(Results)
game_data.columns = Results[0].keys()

game_data.head()

,gamekey,season_year,season_type,week,game_date,game_day,game_site,start_time,home_team,hometeamcode,visit_team,vistteamcode,stadium,stadiumtype,turf,gameweather,temperature,outdoorweather
0,1,2016,Pre,1,2016-08-07 00:00:00.000,Sunday,Indianapolis,20:00,Indianapolis Colts,IND,Green Bay Packers,GB,Tom Benson Hall of Fame Stadium,Outdoor,Turf,None,NaN,None
1,2,2016,Pre,2,2016-08-13 00:00:00.000,Saturday,Los Angeles,17:00,Los Angeles Rams,LA,Dallas Cowboys,DAL,Los Angeles Memorial Coliseum,Outdoor,Grass,Sunny,79.0,Sunny
2,3,2016,Pre,2,2016-08-11 00:00:00.000,Thursday,Baltimore,19:30,Baltimore Ravens,BLT,Carolina Panthers,CAR,M&T Bank Stadium,Outdoor,Natural Grass,Party Cloudy,94.0,Partly Cloudy
3,4,2016,Pre,2,2016-08-12 00:00:00.000,Friday,Green Bay,19:00,Green Bay Packers,GB,Cleveland Browns,CLV,Lambeau Field,Outdoor,DD GrassMaster,None,73.0,None
4,5,2016,Pre,2,2016-08-11 00:00:00.000,Thursday,Chicago,19:00,Chicago Bears,CHI,Denver Broncos,DEN,Soldier Field,Outdoor,Grass,"Partly Cloudy, Chance of Rain 80%",88.0,None

### Play_Info

In [6]:
# Read in the specific table - this can be done on the same connection:
play_info_sql = db.Table('play_info', metadata,
                         autoload=True, autoload_with=engine)
query = db.select(play_info_sql)
Results = conn.execute(query).fetchall()

# Create the new dataframe and set the keys
play_info = pd.DataFrame(Results)
play_info.columns = Results[0].keys()

play_info.head()

,season_year,season_type,gamekey,game_date,week,playid,game_clock,yardline,quarter,play_type,poss_team,home_team_visit_team,score_home_visiting,playdescription
0,2016,Pre,2,08/13/2016,2,191,12:30,LA 47,1,Punt,LA,LA-DAL,0 - 7,"(12:30) J.Hekker punts 52 yards to DAL 1, Cent..."
1,2016,Pre,2,08/13/2016,2,1132,12:08,LA 29,2,Punt,LA,LA-DAL,7 - 21,"(12:08) J.Hekker punts 51 yards to DAL 20, Cen..."
2,2016,Pre,2,08/13/2016,2,1227,10:01,DAL 18,2,Punt,DAL,LA-DAL,7 - 21,"(10:01) C.Jones punts 40 yards to LA 42, Cente..."
3,2016,Pre,2,08/13/2016,2,1864,00:21,DAL 46,2,Punt,LA,LA-DAL,7 - 24,"(:21) J.Hekker punts 31 yards to DAL 15, Cente..."
4,2016,Pre,2,08/13/2016,2,2247,10:26,DAL 15,3,Punt,DAL,LA-DAL,14 - 24,"(10:26) M.Wile punts 40 yards to LA 45, Center..."

### Play_Player_Role

In [8]:
# Read in the specific table - this can be done on the same connection:
play_player_role_sql = db.Table('play_player_role', metadata,
                         autoload=True, autoload_with=engine)
query = db.select(play_player_role_sql)
Results = conn.execute(query).fetchall()

# Create the new dataframe and set the keys
play_player_role = pd.DataFrame(Results)
play_player_role.columns = Results[0].keys()

play_player_role.head()

   season_year  gamekey  playid  gsisid prole
0         2017      414     188   33704  PDL2
1         2017      414    1107   33704  PDL2
2         2017      424    1113   33704  PDR3
3         2017      424    1454   33704  PLR2
4         2017      424     644   33704   PRG

### Player_Punt_Data

In [9]:
# Read in the specific table - this can be done on the same connection:
player_punt_data_sql = db.Table('player_punt_data', metadata,
                         autoload=True, autoload_with=engine)
query = db.select(player_punt_data_sql)
Results = conn.execute(query).fetchall()

# Create the new dataframe and set the keys
player_punt_data = pd.DataFrame(Results)
player_punt_data.columns = Results[0].keys()

player_punt_data.head()

   gsisid p_number p_position
0   32069       36         SS
1   30095       11         WR
2   31586       22         FS
3   29520       35         SS
4   30517       51        OLB

---

# Exporting Cleaned and Sampled Data to a New Database

A new database was created to hold only the cleaned and sampled data from the analysis following Python processing
- Create a New Database called 'NFL_Injuries' prior to running this code
- Anything written to SQL will be written to the NFL_Injuries database

*For purposes of this demo file, we're merging the game_data and play_info as 'new_data'*

In [10]:
new_data = pd.merge(play_player_role, player_punt_data, on='gsisid', how='inner')

In [12]:
# Make connection to the database
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5433/NFL_Injuries"
engine = db.create_engine(db_string)

# Write table to database
new_data.to_sql(name='new_data', con=engine)


---


# SQL Table Code for Table creation

### NFL_Turf

In [ ]:
-- DROP TABLE IF EXISTS playlist CASCADE
-- DROP TABLE IF EXISTS injuries CASCADE
-- DROP TABLE IF EXISTS tracking CASCADE

CREATE TABLE playlist(
    playerkey INT,
    gameid VARCHAR,
    playkey VARCHAR,
    rosterposition VARCHAR(50),
    playerday INT,
    playergame INT,
    stadiumtype VARCHAR(50),
    fieldtype  VARCHAR(50),
    temperature INT,
    weather VARCHAR(250),
    playtype VARCHAR(50),
    playergameplay INT,
    position VARCHAR(50),
    postiongroup VARCHAR(50),
    PRIMARY KEY(playkey)
)


CREATE TABLE injuries(
    playerkey INT,
    gameid VARCHAR(50),
    playkey VARCHAR(50),
    bodypart VARCHAR(50),
    fieldtype VARCHAR(50),
    DM_M1 INT,
    DM_M7 INT,
    DM_M28 INT,
    DM_M42 INT
)


CREATE TABLE tracking(
    playkey VARCHAR(50),
    tracking_time FLOAT,
    tracking_event VARCHAR(50),
    x FLOAT,
    y FLOAT,
    dir FLOAT,
    dis FLOAT,
    o FLOAT,
  	 s FLOAT
);

### NFL_Punt

In [ ]:

-- DROP TABLE IF EXISTS punt_game_df CASCADE;
-- DROP TABLE IF EXISTS punt_play_df CASCADE;
-- DROP TABLE IF EXISTS punt_pr_df CASCADE;
-- DROP TABLE IF EXISTS punt_pp_df CASCADE;
-- DROP TABLE IF EXISTS punt_ngs_df CASCADE;

CREATE TABLE game_data (
	-- good
	gamekey INT,
	season_year INT,
	season_type VARCHAR(100),
	week INT,
	game_date VARCHAR(100),
	game_day VARCHAR(100),
	game_site VARCHAR(100),
	start_time VARCHAR(100),
	home_team VARCHAR(100),
	hometeamcode VARCHAR(100),
	visit_team VARCHAR(100),
	vistteamcode VARCHAR(100),
	stadium VARCHAR(100),
	stadiumtype VARCHAR(100),
	turf VARCHAR(100),
	gameweather VARCHAR(100),
	temperature FLOAT,
	outdoorweather VARCHAR(100),
	PRIMARY KEY (gamekey)
);

CREATE TABLE play_info (
	--good
	season_year INT,
	season_type VARCHAR(100),
	gamekey INT,
	game_date VARCHAR(100),
	week INT,
	playid INT,
	game_clock VARCHAR(100),
	yardline VARCHAR(100),
	quarter INT,
	play_type VARCHAR(100),
	poss_team VARCHAR(100),
	home_team_visit_team VARCHAR(100),
	score_home_visiting VARCHAR(100),
	playdescription VARCHAR(1000),
	FOREIGN KEY (gamekey) REFERENCES game_data (gamekey),
	PRIMARY KEY (gamekey, playid),
	UNIQUE (gamekey,playid)
);

CREATE TABLE play_player_role (
	--gooood
	season_year INT,
	gamekey INT,
	playid INT,
	gsisid INT,
	prole VARCHAR(100),
	FOREIGN KEY (gamekey) REFERENCES game_data (gamekey),
	PRIMARY KEY(gamekey, playid, gsisid),
	UNIQUE(gamekey,playid,gsisid)
);


CREATE TABLE player_punt_data (
	gsisid INT,
	p_number VARCHAR(100),
	p_position VARCHAR(100),
	PRIMARY KEY (gsisid,p_number),
	UNIQUE (gsisid,p_number)
);



CREATE TABLE ngs (
	season_year INT,
	gamekey INT,
	playid INT,
	gsisid FLOAT,
	g_time VARCHAR(100),
	x FLOAT,
	y FLOAT,
	dis FLOAT,
	o FLOAT,
	dir FLOAT,
	g_event VARCHAR(100)
);